<!-- include header -->
<%- include('include/_signedHeader') %>
<!-- /include header -->

<section class="sec_include">
  <div class="container">
    <% sessions.map((session, index)=>{%>
    <div class="col-xs-12 col-sm-4 col-md-4 adj_text">
      <h3><%=session.title%></h3>
      <p><%=session.description.slice(0,300)%></p>

      <a href="/sessions/<%=session._id%>" class="btn-oval">Learn More</a>
    </div>
    <% }) %>
  </div>
</section>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
